
<!---------------- FOOTER -------------->
<footer class="grid padded-sm tall-30">
    <!----- column one ------>
    <div class="col-4_sm-12">
        <a href="./index.html">
            <img src="/images/sukha-designs-logo-3.png" alt="gameday kicking logo" width="50%" height="50%">
        </a>
        <!-- <p class="ml mb mt padding-r">Lorem ipsum dolor sit amet consectetur doloremque molestiae sed hic nostrum corporis culpa asperiores?</p> -->
        <nav>
            <a href="tel:7199949337" class="med-text nav-hover">tel: (719) 994-9337</a>
            <a href="mailto:dean@gamedaykicking.com" class="med-text nav-hover">email me</a>
        </nav>
    </div>
    <!------ column two ------>
    <div class="col-4_sm-6 center">
        <nav class="primary-links">
            <a  href="./services.html" class="nav-hover">services</a> 
            <a  href="./about.html" class="nav-hover">about</a>
            <a  href="./contact.html" class="nav-hover">contact</a>
        </nav>
    </div>
    <!-- ----- column three ------>
    <div class="col-4_sm-6 center">
        <nav class="social-links">
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </nav>
    </div>
</footer>

